:root {
    --black: #111;
    --orange: #fd9222;
    --violet: #1e1823;
    --beige: #fcf1e0;
    --light: #fafafa;
    --gray: #4c4c4c;
    --white: #fff;
    --marker-body: #4c4c4c;
    --marker-border: #eceded;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
}


ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.container {
        width: 1168px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
        border: 1px solid red;
}



/* #region header */
.page-header {}

.page-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.logo-link {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
        color: #111;
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-right: 365px;
}

.logo-part {
    font-style: italic;
}

.logo-link-img {
    width: 24px;
    height: 24px;
}

.header-nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
}

.header-nav-list-item {}

.header-nav-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
}

.social-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
        margin-left: auto;
}

.social-list-item {
        width: 40px;
        height: 40px;
        margin-bottom: 14px;

}

.social-link {
                border: 1px solid rgba(17, 17, 17, 0.1);
                border-radius: 10px;
                padding: 8px;
                width: 100%;
                height: 100%;
                display: block;
                transition: color var(--animation), border var(--animation);
}

.social-link:hover,
.social-link:focus {
        border: 1px solid rgba(253, 146, 34, 0.1);
        color: var(--orange);
}


.social-img {
    fill: currentColor;
}

/* #endregion header */

/* #region Hero */
.hero {
        margin-bottom: 80px;
}

.hero .container {
        background-color: rgba(17, 17, 17, 0.7);
        padding-top: 381px;
        padding-bottom: 40px;
        border-radius: 30px;
        padding-left: 40px;
        padding-right: 40px;
        background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/bg/hero-bg@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-left: auto;
        margin-right: auto;
}

.hero-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.03em;
        color: #fff;
        max-width: 484px;
        margin-bottom: 32px;
}

.btn-buy,
.hero-link {
        font-weight: 600;
        font-size: 14px;
        color: #fff;
}

.btn-buy {
    background-color: #fd9222;
    border-radius: 100px;
    width: 144px;
    height: 45px;
    border: 1px solid #fd9222; 
    margin-right: 14px;
}

.hero-link {
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 14px 40px;
    width: 183px;
    height: 45px;
    margin-right: 585px;
    
}

.btn-buy:active {
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero-link:active,
.hero-link:focus,
.hero-link:hover {
    color: #fd9222;
}

.hero-scroll {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
        color: #fff;
        display: inline-flex;
        align-items: center;
        gap: 14px;
}

.hero-scroll:hover {
        color: #fd9222;
}

.hero-scroll:hover .hero-scroll-icon,
.hero-scroll:focus .hero-scroll-icon {
        background-color: #fd9222;
        color: var(--white);
        
}

.hero-scroll-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        background-color: #fff;
        color: var(--orange);
}

.hero-scroll-icon svg {
        fill: currentColor;
}

/* #endregion Hero */

/* #region Benefits */
.benefits {
    background-color: #1e1823;
}

.benefits .container {
        padding-top: 50px;
        padding-bottom: 50px;
}

.benefits-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            text-align: center;
            color: #111;
}

.benefits-list {
        display: flex;
}

.benefits-list-item {}

.benefits-icon-wrapper {
        width: 62px;
        height: 62px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 365px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
}

.benefits-subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.22;
        color: #fff;
}

.benefits-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
}

/* #endregion Benefits */

/* #region Taste */
.taste {}

.taste .container {
        padding-top: 120px;
        padding-bottom: 60px;
}

.taste-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
}

.taste-title-part {
    color: #fd9222;
}

.taste-list {
        display: flex;
        flex-wrap: wrap;
}

.taste-list-item-orange {
    background-color: #fd9222;
}

.taste-list-item-white {
    background-color: #fff;
}

.taste-list-item-black {
    background-color: #1e1823;
}

.taste-img {
    width: 214px;
    height: 160px;
}

.taste-list-item-subtitle-chet {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: #111;
}

.taste-list-item-subtitle-nechet {      
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #fff;
}

/* #endregion Taste */

/* #region Made */
.made {}

.made .container {
        padding-top: 60px;
        padding-bottom: 60px;
}

.made-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
}

.made-img {
    width: 600px;
    height: 400px;
}

.made-subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        color: #111;
}

.made-list {
    list-style-type: disc;
}

.made-list-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: #111;
}

/* #endregion Made */


/* #region Products */
.products {}

.products .container {
        padding-top: 60px;
        padding-bottom: 60px;
}

.products-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
}

.products-list {
        display: flex;
        flex-wrap: wrap;
}

.products-list-item {}

.products-img {
    width: 230px;
    height: 201px;
}

.products-list-item-subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #111;
}

.products-list-item-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        color: rgba(17, 17, 17, 0.7);
}

.products-list-item-link {
        font-weight: 600;
        font-size: 14px;
        color: #111;
}

/* #endregion Products */


/* #region Sellers */
.sellers {}

.sellers .container {
        padding-top: 60px;
        padding-bottom: 60px;
}

.sellers-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
}

.sellers-list {
        display: flex;
}

.sellers-list-item {}

.sellers-img {
    width: 368px;
    height: 464px;
}

.sellers-subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33333;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #111;
}


/* #endregion Sellers */

/* #region Chocolove */
.chocolove {}

.chocolove .container {
        padding-top: 60px;
        padding-bottom: 120px;
}

.chocolove-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
}

.chocolove-list {
        display: flex;
}

.chocolove-list-item {
    background-color: #fff;
}

.chocolove-img {
    width: 80px;
    height: 80px;
}

.chocolove-subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        color: #111;
}

.chocolove-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(17, 17, 17, 0.7);
}

.btn-review {
        border: 1px solid #fd9222;
        font-weight: 600;
        font-size: 18px;
        color: #111;
}

.btn-review:active {
        background-color: #fd9222;
        color: #fff;
}

/* #endregion Chocolove */

/* #region Footer */
.page-footer {
    background-color: #1e1823;
}

.page-footer .container {
        padding-top: 50px;
        padding-bottom: 50px;
}

.page-footer-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.21429;
        letter-spacing: -0.02em;
        color: #fd9222;
}

.page-footer-title-part {
    color: #fff;
}

.page-footer-subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        color: #fff;
}

.footer-social-list {}

.footer-social-list-item {}

.footer-social-link {}

.footer-social-img {
    color: #fff;
    width: 24px;
    height: 24px;
}

.contacts {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        color: #fff;
}

.contacts-link-tel,
.contacts-link-mail {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
}

.footer-nav {}

.footer-nav-list {}

.footer-nav-list-item {}

.footer-nav-list-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14286;
        letter-spacing: -0.02em;
        color: #fff;
}

/* #endregion Footer */